.env
.venv

infra/api_project/variables.tf
infra/api_project/.terraform/
infra/api_project/*.tfstate
infra/api_project/*.tfstate.*
infra/bootstrap/variables.tf
infra/bootstrap/.terraform/
infra/bootstrap/*.tfstate
infra/bootstrap/*.tfstate.*
.terraform.tfstate.lock.info

database.db
compose.yaml

__pycache__
.DS_Store