.env
.venv

infra/api_project/.terraform/
infra/api_project/*.tfstate
infra/api_project/*.tfstate.*
# infra/api_project/tf.tfvars
infra/bootstrap/.terraform/
infra/bootstrap/*.tfstate
infra/bootstrap/*.tfstate.*
# infra/bootstrap/tf.tfvars
.terraform.tfstate.lock.info

database.db
compose.yaml

__pycache__
.DS_Store